---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% assign publications = site.publications | sort: "date" | reverse %}
{% for paper in publications %}
<article class="publication-entry">
  <h2><a href="{{ paper.url | relative_url }}">{{ paper.title | escape }}</a></h2>
  {{ paper.authors | markdownify }}
  <p><em>{{ paper.venue | escape }}</em>, {{ paper.year }}{% if paper.volume %}, {{ paper.volume }}({{ paper.issue }}){% endif %}, pp. {{ paper.pages }}.</p>
  <p><a href="https://doi.org/{{ paper.doi }}">Paper / DOI: {{ paper.doi }}</a></p>
  <details>
    <summary>Abstract</summary>
    <div>{{ paper.content | markdownify }}</div>
  </details>
</article>
{% unless forloop.last %}<hr>{% endunless %}
{% endfor %}
