{% include base_path %} {% if page.author and site.data.authors[page.author] %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %} {% endif %}
{% if author.avatar %}
{% if author.avatar contains "://" %}  {{ author.name }} {% else %}  {{ author.name }} {% endif %}
{% endif %}
{{ author.name }}

{% if author.pronouns %}
{{ author.pronouns }}

{% endif %} {% if author.bio %}
{{ author.bio }}

{% endif %}
Follow
{% if author.location %}
{{ author.location }}
{% endif %} {% if author.employer %}
{{ author.employer }}
{% endif %} {% if author.uri %}
{{ site.data.ui-text[site.locale].website_label | default: "Website" }}
{% endif %} {% if author.email %}
{{ site.data.ui-text[site.locale].email_label | default: "Email" }}
{% endif %} {% if author.academia %}
Academia
{% endif %} {% if author.arxiv %}
arXiv
{% endif %} {% if author.googlescholar %}
Google Scholar
{% endif %} {% if author.inspire-hep %}
INSPIRE-HEP
{% endif %} {% if author.impactstory %}
Impactstory
{% endif %} {% if author.orcid %}
ORCID
{% endif %} {% if author.pubmed %}
PubMed
{% endif %} {% if author.researchgate %}
ResearchGate
{% endif %} {% if author.scopus %}
Scopus
{% endif %} {% if author.semantic %}
Semantic Scholar
{% endif %} {% if author.ssrn %}
SSRN
{% endif %} {% if author.zotero %}
Zotero
{% endif %} {% if author.bitbucket %}
Bitbucket
{% endif %} {% if author.codepen %}
CodePen
{% endif %} {% if author.dribbble %}
Dribbble
{% endif %} {% if author.github %}
GitHub
{% endif %} {% if author.kaggle %}
Kaggle
{% endif %} {% if author.stackoverflow %}
Stackoverflow
{% endif %} {% if author.artstation %}
Artstation
{% endif %} {% if author.bluesky %}
Bluesky
{% endif %} {% if author.facebook %}
Facebook
{% endif %} {% if author.flickr %}
Flickr
{% endif %} {% if author.foursquare %}
Foursquare
{% endif %} {% if author.goodreads %}
Goodreads
{% endif %} {% if author.google_plus %}
Google+
{% endif %} {% if author.keybase %}
Keybase
{% endif %} {% if author.instagram %}
Instagram
{% endif %} {% if author.lastfm %}
Last.fm
{% endif %} {% if author.linkedin %}
LinkedIn
{% endif %} {% if author.mastodon %}
Mastodon
{% endif %} {% if author.medium %}
Medium
{% endif %} {% if author.pinterest %}
Pinterest
{% endif %} {% if author.soundcloud %}
Soundcloud
{% endif %} {% if author.steam %}
Steam
{% endif %} {% if author.telegram %}
Telegram
{% endif %} {% if author.tumblr %}
Tumblr
{% endif %} {% if author.twitter %}
X (formerly Twitter)
{% endif %} {% if author.vine %}
Vine
{% endif %} {% if author.weibo %}
Weibo
{% endif %} {% if author.wikipedia %}
Wikipedia
{% endif %} {% if author.xing %}
XING
{% endif %} {% if author.youtube %}
YouTube
{% endif %} {% if author.zhihu %}
Zhihu
{% endif %}
